.message {
    position: relative;
    margin-bottom: 47px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 3;
}

.text {
    min-height: 60px;
    background-color: #0066cc;
    position: relative;
    margin-right: 12px;
    border-radius: 10px 10px 0 10px;
    padding: 8px 13px;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.text:before {
    content: '';
    position: absolute;
    background-color: #0066cc;
    width: 17px;
    height: 17px;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    bottom: 0;
    right: -17px;
}

.text:after {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -15px;
    background: #fff;
    width: 10px;
    height: 28px;
    border-radius: 10px 0 0 0;
    transform: rotate(-52deg);
    z-index: 1;
}

.name {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.messageText {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.time {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    position: absolute;
    right: 8px;
    bottom: -16px;
}