.buttonsContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
}

.responseContainer {
    display: flex;
    gap: 94px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 96px;
}

.imageContainer {
    max-width: 100%;
}

.image {
    max-width: 100%;
}

.textContainer{
    min-width: 510px;
}

.code {
    font-weight: 500;
    font-size: 30px;
    color: #000;
    margin-bottom: 12px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.info {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}