.sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -5000px;
    transition: 0.5s all;
    z-index: 10;
    max-width: 317px;
}

.sidebar.open {
    left: 0;
}

.background {
    background: #000;
    opacity: 0.3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}

.nav {
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 10px 40px 0 rgba(29, 33, 38, 0.13);
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 64px 70px;
}

.nav a {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    text-decoration: none;
}

.nav a:hover {
    color: #58acff;
}

.nav a.active {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0059b2;
}
.close {
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 16px;
    z-index: 11;
    background: none;
    width: 24px;
    height: 24px;
}

.close img {
    width: 24px;
    height: 24px;
}
