.loader {
    /*свг и/или анимация*/
    background-image: url('./loader.svg');
    width: 108px;
    height: 108px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}