.input:focus {
    outline: 2px solid #0059b3;
}

.input {
    border: 1px solid #D1D1D1;
    width: 372px;
    height: 36px;
    border-radius: 6px;
    padding: 10px;
}

.inputWrapper {
    position: relative;
}

.superInput {
}

.errorInput {
    border-color: #cc1439;
}

.errorInput:focus {
    outline: #cc1439;
}

.error {
    position: absolute;
    top: -15px;
    left: 0;
    font-weight: 400;
    font-size: 10px;
    color: #cc1439;
}
