.radio {
    width: 20px;
    height: 20px;
    appearance: none;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    box-sizing: border-box;
}

.span {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.radio::before {
    content: "";
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio:checked::before {
    display: block;
}

.label {
    display: flex;
    gap: 12px;
    align-items: center;
}
.label:last-child {
    margin-bottom: 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 16px
}
