.buttonsContainer {
    display: flex;
    gap: 21px
}

.clock {
    display: flex;
    flex-direction: column;
}

.watch {
    margin-bottom: 8px;
}

.watch strong {
    font-weight: 600;
}

.more {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 27px;
}