.item {
    font-weight: 300;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #e5e5e5;
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.buttonsContainer {
    display: flex;
    justify-content: end;
    gap: 12px;
    margin-bottom: 18px;
}

.container {
    width: 100%;
}

.thead {
    background-color: #e5e5e5;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    border: none;
}

.nameCol {
    padding: 11px 17px;
    width: 50%;
}

.ageCol {
    width: 50%;
    padding: 11px 0;
}

tbody tr td:last-child {
    font-weight: 500;
}