.friendMessage {
    position: relative;
    margin-bottom: 47px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    padding: 8px 13px;
    background-color: #f5f7fb;
    border-radius: 10px 10px 10px 0;
    margin-left: 12px;
    box-shadow: 2px 2px 2px 0 rgba(29, 33, 38, 0.1);
}

.friendText:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 16px;
    bottom: 0;
    left: -12px;
    background-color: #f5f7fb;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.friendText:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 30px;
    background-color: #fff;
    border-radius: 0 0 0 10px;
    transform: rotate(-139deg);
    bottom: -7px;
    left: -14px;
}

.friendName {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    position: absolute;
    left: 12px;
    bottom: -16px;
}
